@charset "utf-8";

/* CSS Document */

body {
    background: url(../img/bodyBack.png);
}

#container {
    background: #fff;
    margin: 40px auto;
    width: 880px;
    font-family: "Trebuchet MS", arial;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
    border-bottom: 7px solid #0099CC;
    box-shadow: 0 -5px 0 #efefef inset;
    -moz-box-shadow: 0 -5px 0 #efefef inset;
    -webkit-box-shadow: 0 -5px 0 #efefef inset;
}


/*----------Header------------*/

#header {
    background: #0099CC;
    border-bottom: 5px solid #efefef;
    color: #fff;
    height: 30px;
    padding: 14px 18px 0 18px;
    background: -webkit-gradient(linear, left top, left bottom, from(#21b9ec), to(#0099CC));
    background: -moz-linear-gradient(top, #21b9ec, #0099CC);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#21b9ec', endColorstr='#0099CC');
}

#header ul li {
    display: inline;
    text-decoration: none;
    margin-right: 10px;
}

#header ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

#header ul li a:hover {
    color: #FFFF33;
}

#header img {
    float: right;
    margin-left: 8px;
    margin-top: -20px;
}


/*----------Section------------*/

.section {
    border-bottom: 4px solid #eeeeee;
    padding: 38px 0 38px;
    margin: 0 18px;
}

.section img {
    float: left;
    background: #fff;
    border: 3px solid #cccccc;
}

.section img#profilepicture {
    padding: 7px;
}

.section h1 {
    font-family: 'LeagueGothicRegular', serif;
    font-size: 40px;
    color: #000;
    letter-spacing: 0;
    margin-top: 35px;
    margin-left: 150px;
}

.section h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    margin-left: 150px;
    color: #0099CC;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.2em;
}

.section ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.8em;
    float: right;
    margin-top: -75px;
    color: #666;
}

.section ul span {
    color: #0099CC;
    font-weight: bold;
    font-size: 13px;
}

.section ul a {
    color: #666;
    text-decoration: none;
}

.section ul a:hover {
    color: #444;
}

.section .left {
    width: 202px;
    float: left;
}

.section .left p {
    font-size: 14px;
    padding-right: 20px;
    margin-top: 10px;
    color: #888;
}

.section .left h3 {
    font-family: 'LeagueGothicRegular', serif;
    font-size: 24px;
    color: #000;
}

.section .right {
    float: right;
    width: 622px;
}

.section p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.3em;
}

.section h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0099CC;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}


/*----------Section Top------------*/

.sectiontop {
    height: 120px;
    padding: 38px 0 48px;
}


/*----------Personal------------*/

.personal {
    height: 100px;
}


/*----------Education------------*/

.education {
    height: 200px;
}

.selection_education {
    border-bottom: 1px solid #eeeeee;
}

.row {
    padding-bottom: 15px;
    margin-bottom: 18px;
    position: relative;
}

.row h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #0099CC;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 4px;
}

.row h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 10px;
}

.row a {
    text-decoration: none;
    color: #fff;
    padding: 7px 8px;
    background: #666;
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: default;
}

.row a:hover {
    background: #aaa;
}


/*----------Technical------------*/

.technical {
    height: 300px;
}

.technical h4 {
    color: #000;
    font-size: 12px;
}

.right_right {
    width: 330px;
    float: right;
}

.right_left {
    width: 250px;
    float: left;
}

.right_left span {
    font-weight: bold;
    color: #333;
}


/*----------Gallery------------*/

.gallery {
    height: 195px;
}

.gallery img {
    border: none;
    margin: 0 10px 10px 0;
}


/*----------Contact------------*/

.contact {
    height: 240px;
}

.social_contact {
    float: right;
    text-decoration: none;
    color: #fff;
    padding: 5px 7px;
    font-size: 13px;
    background: #000;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: -19px;
}

.social_contact:hover {
    color: #000;
    background: #fff;
}

.form {
    float: left;
}

input,
textarea {
    padding: 9px;
    border: 1px solid #ccc;
    outline: 0;
    color: #999;
    font: normal 13px/100% Verdana, Tahoma, sans-serif;
    width: 240px;
    margin-bottom: 12px;
    background: url(../img/formback.gif) repeat-x 0 0;
}

textarea {
    width: 240px;
    height: 60px;
    line-height: 150%;
    min-height: 60px;
    max-height: 60px;
    max-width: 240px;
    min-width: 240px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border-color: #999;
}

.submit input {
    padding: 7px 9px;
    width: 60px;
    cursor: pointer;
    background: #0099CC;
    border: none;
    font-size: 10px;
    color: #FFF;
    font-weight: bold;
    text-transform: uppercase;
}

.submit input:hover {
    background: #666;
    color: #FFF;
}

.contact_text {
    width: 330px;
    float: right;
}

#contact_icons {
    float: left;
    margin: 30px 0 0 24px;
}

#contact_icons a {
    padding: 7px 9px;
    color: 0099CC;
}

#contact_icons a:hover {
    background: #666;
    color: #fff;
}